# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build directory
/build/

# Ignore all settings within .vscode folder
/.vscode/

# Nix
/.direnv/
/.pre-commit-config.yaml
/result

# CMake
/include/version.h
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CMakeUserPresets.json
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Testing
_deps
cmake_install.cmake
compile_commands.json
install_manifest.txt
